.container {
  width: 400px;
  background: white;
  padding: 96px 8px;
  border-radius: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
}

.description {
  font-size: 18px;
  padding: 20px;
}

.wrapperButton {
  padding: 0 64px;
}
